<!DOCTYPE html>
<Html  xmlns: th = " http://www.thymeleaf.org " >
<Head >
<Meta  http-equiv = " Conteúdo-Tipo "  content = " text / html; charset = UTF-8 " />
<Título > Lista </title >
<Link  href = " bootstrap / css / bootstrap.min.css "  rel = " stylesheet " />
</Head >
<Body >

	<Div  class = " container " >

		<Div  id = " listaDeUsuarios " >
			<Table  class = " table table-hover " >
				<Thead >
					<Tr>
						<Th > Login </th >
					</Tr >
				</Thead >
				<Tr  th: each = " usuario: $ {usuarios} " >
					<Td > <span  th: text = " $ {usuario.login} " > </span > </td >
				</Tr >

			</Table >
		</Div >

	</Div >

	<Script
		src = " https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js " > </script de >
	<Script  src = " bootstrap / js / bootstrap.min.js " > </script >

</Body >
</Html >