<! DOCTYPE html>
<html>
<Head>
	<Meta  http-equiv = " Conteúdo-Tipo "  content = " text / html; charset = UTF-8 " />
	<Título > ListaVIP </title >
	<Link  href = " bootstrap / css / bootstrap.min.css "  rel = " stylesheet " />
	</Título>
	</Head>
	<Body>
    <Div  class = " panel panel-default " >
        <Div  class = " painel-título " >
            <Strong > Login </strong >
        </Div >
        <Div  class = " painel-corpo " >

			<Form  action = "efetuarlogin"  th: ação = " @ {/login} "  th: objeto = " $ {usuarioModel} "  method = " post "  role = " form " >
		               <Fieldset >
	                   	    	<Div  class = " form-group row " >
									<Div  class = " col-md-4 " >
			   							<Label  for = " login " > Login: </label >
			     						<Entrada  tipo = " texto "  class = " -control formulário de entrada-sm "  nome = " login "  id = " Login "  th: campo = " * {Login} "   />
			  					   </Div >
								 </Div >
							    
							    <Div  class = " form-group row " >
								    <Div  class = " col-md-4 " >
								   	  <Label  for = " senha " > Senha: </label >
								     	<Input  type = " text "  class = "  formulário -controle input-sm " name = " senha "   id = " senha "  th: field = " * {Senha} "   />
								   </Div >
		     					</Div >
		 	
		     					<Button  type = " submit "  class = " btn ícone-btn btn-sucesso " >
		     					<Span  class = " glyphicon btn-glyphicon glyphicon-mais img-circle text-success " > </span >
		     					Realizar Login
		     					</Button >
    </Fieldset >
</Form >
</Div >
</Div >

	</Body >
</html>