<! DOCTYPE html>
<html>
<Head>
	<Meta  http-equiv = " Conteúdo-Tipo "  content = " text / html; charset = UTF-8 " />
	<Título > ListaVIP </title >
	<Link  href = " bootstrap / css / bootstrap.min.css "  rel = " stylesheet " />
	</Título>
	</Head>
	<Body>
		<Div  class = " container " >
			<Div  class = " jumbotron "  align = " center "  style = " margin-top: 50px; " >
				<H1 > Pos em Desenvolvimento Web </h1 >
				<Div  align = " center " >
					<A  href = " listaconvidados "  class = " btn btn-lg btn-primária " > Click here to ver uma Lista de Contatos </a >
				</Div >
			</div >
		</Div >
	    
	    <Script  src = " https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js " > </script >
	    <Script  src = " bootstrap / js / bootstrap.min.js " > </script >
	
	</Body >
</html>